body, html {
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
}

/* The side navigation menu */

#nav-container {
    width: 100%;
    height: 50px;
    background-color: #878c7e;
    position: fixed;
    z-index: 1;
    top: 0; /* Stay at the top */
    left: 0;
    justify-content: center;
}

.fa-bars {
    margin-top: 15px;
    color: white;
    position: absolute;
    bottom: 10px;
    left: 20px;
}

.fa-bars:hover {
    color: #e29598;
}
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 2; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #878c7e; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 30px;
    color: #e29598;
    display: flex;
    transition: 0.3s;
    margin-left: 20px;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #ffffff;
    cursor: none;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: -20px;
    font-size: 36px;
}

.nav-links {
    margin-top: 50px;
    margin-left: 50px;
}

.intro-container {
    background-color: #dccabb;
    margin-left: -15px !important;
    margin-right: -15px !important;
}

#intro-one {
    padding-top: 100px;
    padding-left: 30px;
    font-size: 1.3em;
}
#intro-two {
    color: #e9767e;
    margin-top: 40px;
    padding-left: 30px;
    font-size: 3em;
}

#intro-three {
    margin-top: 40px;
    padding-left: 30px;
    padding-bottom: 70px;
    color: aliceblue;
}

.social-nav {
    list-style-type: none;
    margin-left: -60px;
    padding-bottom: 30px;
    display: flex;
}

.social-links {
    padding-left: 50px;
}

@media (min-width: 768px) {

    #nav-container {
        display: flex;
        width: 100px;
        height: 100%;
    }

    .fa-bars {
        margin-top: 15px;
        color: white;
        position: absolute;
        top: -7px;
        left: 35px;
    }
}

